@import url(https://fonts.googleapis.com/css?family=Gochi+Hand|Open+Sans&display=swap);

$font-headings: 'Gochi Hand', cursive;
$font-text: 'Open Sans', sans-serif;
$font-h1: 2vw;
$font-h2: 4vw;
$font-h3: 2rem;
$text: 1.2rem;